<web-app>
<context-param>
  <param-name>cname</param-name>
  <param-value>3000</param-value>
</context-param>
 <servlet>
   <servlet-name>ContextServlet</servlet-name>
   <servlet-class>com.nit.ContextServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>ContextServlet</servlet-name>
 <url-pattern>/pqr</url-pattern>
 </servlet-mapping>
 
 <welcome-file-list>
  <welcome-file>input.html</welcome-file>
 </welcome-file-list>
</web-app>