<web-app>


<servlet>
 <servlet-name>FinalServlet</servlet-name>
 <servlet-class>com.nit.FinalServlet</servlet-class>
 </servlet>
 
  <servlet-mapping>
  <servlet-name>FinalServlet</servlet-name>
 <url-pattern>/pqr</url-pattern>
   </servlet-mapping>















  <servlet>
 <servlet-name>BillServlet</servlet-name>
 <servlet-class>com.nit.BillServlet</servlet-class>
 </servlet>
 
  <servlet-mapping>
  <servlet-name>BillServlet</servlet-name>
 <url-pattern>/bill</url-pattern>
   </servlet-mapping>
   
   <servlet>
 <servlet-name>MoreProductsServlet</servlet-name>
 <servlet-class>com.nit.MoreProductsServlet</servlet-class>
 </servlet>
 
  <servlet-mapping>
  <servlet-name>MoreProductsServlet</servlet-name>
 <url-pattern>/moreproducts</url-pattern>
   </servlet-mapping>
   
   
   
   
   
   <servlet>
 <servlet-name>DispatcherServlet</servlet-name>
 <servlet-class>com.nit.DispatcherServlet</servlet-class>
 </servlet>
 
  <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
 <url-pattern>/pqrr</url-pattern>
   </servlet-mapping>
    
  <welcome-file-list>
  <welcome-file>Product.html</welcome-file>
  </welcome-file-list>
</web-app>